.profile-banner {
  display: flex;
  align-items: flex-end;
  justify-content: left;
  background-size: cover;
  background-position: center;
  color: #fff;
  position: relative;
  padding-bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 40px 20px 20px 20px;
}

.profile-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.banner-content {
  position: relative;
  max-width: 1000px;
  font-weight: bold;
  width: 100%;
  padding: 50px 0px;
  box-sizing: border-box;
  padding-top: 10px;
  font-weight: bold;
}

.banner-headline {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 20px;
  max-width: 600px;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8), 0 0 20px rgba(0, 0, 0, 0.5);
  letter-spacing: 0.02em;
}

.banner-description {
  font-size: 1rem;
  margin-bottom: 20px;
  font-size: 14px;
}

.banner-buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.banner-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.play-button {
  background-color: #e50914;
}

.info-button {
  background-color: rgba(109, 109, 110, 0.7);
}

.banner-button:hover {
  background-color: #b81d24;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .banner-content {
    max-width: 100%;
    padding: 0;
    margin-top: auto;
  }

  .profile-banner {
    padding: 14px 20px 2px;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .banner-headline {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 14px;
    max-width: 100%;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9), 0 0 30px rgba(0, 0, 0, 0.7);
  }

  .banner-description {
    line-height: 1.5;
    font-size: 12px;
  }

  /* Button adjustments */
  .banner-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .banner-button {
    width: auto;
    padding: 10px 15px;
    font-size: 0.9rem;
  }
}
