.profile-card {
  position: relative;
  margin: 10px;
  cursor: pointer;
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-decoration: none;
  width: 10vw;
}

.profile-card:hover {
  border-color: #e5e5e5;
  color: #e5e5e5;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
  box-sizing: border-box;
}

.image-container:hover {
  outline: 3px solid #e5e5e5;
  outline-offset: -3px;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 4px !important;
  display: block;
  margin: 0;
  padding: 0;
}

.profile-name {
  color: #808080;
  display: block;
  width: 100%;
  font-size: 1.3vw !important;
  line-height: 1.4;
  margin-top: 10px !important;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 400;
  text-transform: capitalize;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.profile-card:hover .profile-name {
  color: #e5e5e5;
}

@media (max-width: 768px) {
  .profile-card {
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    cursor: pointer;
  }

  .profile-name {
    font-size: 18px !important;
  }
}