.profile-card {
  position: relative;
  margin: 10px;
  cursor: pointer;
  height: 10vw;
  max-height: 200px;
  max-width: 200px;
  min-height: 84px;
  min-width: 84px;
  text-decoration: none;
  width: 10vw;
}

.profile-card:hover {
  border-color: #e5e5e5;
  color: #e5e5e5;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 4px !important;
  border: 0.2em solid transparent;
}

.image-container:hover {
  border-color: #e5e5e5;
  color: #e5e5e5;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px !important;
}

.profile-name {
  color: #808080;
  display: block;
  width: 100%;
  font-size: 0.9vw;
  line-height: 1.4;
  margin-top: 10px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  font-weight: 400;
  text-transform: capitalize;
  transition: color 0.3s ease;
  white-space: nowrap;
}

.profile-card:hover .profile-name {
  color: #e5e5e5;
}

@media (max-width: 768px) {
  .profile-card {
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    cursor: pointer;
  }

  .profile-name {
    font-size: 14px;
  }
}