.netflix-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #141414;
  overflow: hidden;
  padding: 20px;
}

.netflix-logo {
  width: 500px;
  max-width: 90%;
  height: auto;
  opacity: 0;
  transform: scale(0.8);
  animation: fadeIn 2s forwards ease-in;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate.netflix-logo {
  animation: zoomOut 2s forwards ease-in-out;
}

@keyframes zoomOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
  .netflix-logo {
    width: 100%;
    max-width: 320px;
  }
}

@media (max-width: 480px) {
  .netflix-logo {
    max-width: 280px;
  }
}